/dataset_movielens/test_6_percent/a_mf_ratings.csv
/dataset_movielens/test_7_percent/a_mf_ratings.csv
/dataset_movielens/test_8_percent/a_mf_ratings.csv
/dataset_movielens/test_9_percent/a_mf_ratings.csv
/dataset_movielens/test_10_percent/a_mf_ratings.csv